{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(edit_form) }}

    <div class="container">

      <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
          <p>
            <h1>Editar Equipo</h1>
          </p>
        </div>
        <div>
          <p>
            {{ form_errors(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control','placeholder': 'Nombre'}}) }}
          </p>
        </div>
        <div>
          <P>
            {{ form_errors(edit_form.imagen) }}
            {{ form_widget(edit_form.imagen, {'attr': {'class': 'form-control','placeholder': 'URL de imagen'}}) }}
          </p>
        </div>

        <P>
        <div class="container">
          <div class="row">
            <div id="margenbot">
            <div class="editarboton">
            <input class="btn btn-success" type="submit" value="Editar" />
            {{ form_end(edit_form) }}
            </div>

            <div class="eliminarboton">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger"type="submit" value="Eliminar">
            </div>

            <div class="volverboton">
            {{ form_end(delete_form) }}
            <a href="{{ path('equipo_index') }}"><input class="btn btn-default" type="button" value="Volver" /></a>
          </div>
            </div>
        </div>
      </div>
    </p>
    </div>


{% endblock %}
